<!-- prettier-ignore -->
{% extends "test_template.html" %}

{% block content %}
<h1>こんにちわ</h1>
<div class="card col-md-4" id="login_form">
  <div class="card-body">
    <p class="fw-bold">Login</p>
    <!-- prettier-ignore -->
    {{ login_form.username.label_tag }} {{ login_form.username }}
    <!-- prettier-ignore -->
    {{ login_form.password.label_tag }} {{ login_form.password }}

    <button class="btn btn-primary w-100" id="login-btn">ログイン</button>
  </div>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block js_content %}
<script>
  $("document").ready(function () {
    $("#login-btn").on("click", function () {
      const username = $("#login_form .username").val();
      const password = $("#login_form .password").val();

      $.ajax({
        url: "{% url:'login' %}",
        type: "POST",
        data: { username: username, password: password },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      }).done(function () {
        alert("成功");
      });
    });
  });
</script>
{% endblock %}
