<!-- prettier-ignore -->
{% extends "test_template.html" %}

{% block content %}

<div class="row justify-content-center align-items-center" style="height: 90vh">
  <div class="col-md-4">
    <div class="card" id="login_form">
      <div class="card-body">
        <p class="fw-bold">Login</p>
        <!-- prettier-ignore -->
        {{ login_form.username.label_tag }} {{ login_form.username }}
        <!-- prettier-ignore -->
        {{ login_form.password.label_tag }} {{ login_form.password }}

        <button class="btn btn-primary w-100" id="login-btn">ログイン</button>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block js_content %}
<script>
  $("document").ready(function () {
    $("#login-btn").on("click", function () {
      const username = $("#login_form .username").val();
      const password = $("#login_form .password").val();

      $.ajax({
        url: "{% url 'login_page-login_view' %}",
        type: "POST",
        data: { username: username, password: password },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      }).done(function (response) {
        if (response.status === false) {
          alert(response.message);
        } else if (response.status === true) {
          alert(response.message);
          location.href = "{% url 'test_open' %}";
        }
      });
    });
  });
</script>
{% endblock %}
