<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-secondary-subtle">
    <div class="container py-5">
      <div class="mb-4 border-bottom border-dark pb-2">
        <h1 class="text-primary">勉強場</h1>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card border-0">
            <div class="card-body p-2">
              <div class="mb-3">
                <label class="form-label" for="book">本のタイトル</label>
                <input type="text" class="form-control" id="book" />
              </div>
              <button class="btn btn-primary w-100" id="book_register">
                送信する
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0">
            <div class="card-body p-2">
              <div class="mb-3">
                <label class="form-label" for="book_id">本のID</label>
                <input type="number" class="form-control" id="book_id" />
              </div>

              <button class="btn btn-primary w-100" id="get_book">
                送信する
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0">
            <div class="card-body p-2">
              <div class="mb-3">
                <label class="form-label">執筆本一覧</label>
                <input
                  type="text"
                  class="form-control"
                  id="author"
                  placeholder="著者の名前を入力"
                />
              </div>
              <div class="mb-3">
                <label class="form-label" for="author_condition"
                  >検索条件</label
                >
                <select id="author_condition" class="form-select">
                  <option value="perfect">完全一致</option>
                  <option value="contains">含む</option>
                </select>
              </div>
              <button class="btn btn-primary w-100" id="author_filter">
                送信する
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="card border-0">
            <div class="card-body p-2">
              <div class="mb-3">
                <h2 class="h5">著者と出版社に一致する本タイトル</h2>
                <div class="mb-3">
                  <label class="form-label" for="author_name">著者</label>
                  <input
                    type="text"
                    class="form-control"
                    id="author_name"
                    placeholder=""
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label" for="company_name">出版社</label>
                  <input
                    type="text"
                    class="form-control"
                    id="company_name"
                    placeholder=""
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label" for="author_company_condition"
                    >検索条件</label
                  >
                  <select id="author_company_condition" class="form-select">
                    <option value="and">and</option>
                    <option value="or">or</option>
                  </select>
                </div>
              </div>
              <button class="btn btn-primary w-100" id="author_company_filter">
                送信する
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"
></script>

<script>
  $(document).ready(function () {
    // 登録
    $("#book_register").on("click", function () {
      const book = $("#book").val();
      $.ajax({
        url: "{% url 'book_register' %}",
        type: "POST",
        data: { book: book },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      }).done(function (response) {
        alert(book + "の登録に成功しました");
      });
    });
    // IDからタイトル取得
    $("#get_book").on("click", function () {
      const book_id = $("#book_id").val();
      $.ajax({
        url: "{% url 'get_book' %}",
        type: "POST",
        data: { book_id: book_id },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      }).done(function (response) {
        alert(response.title + "が本のタイトルです");
      });
    });
    // タイトルをフィルター検索
    $("#author_filter").on("click", function () {
      const author = $("#author").val();
      const condition = $("#author_condition").val();
      $.ajax({
        url: "{% url 'author_filter' %}",
        type: "POST",
        data: { author: author, condition: condition },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      }).done(function (response) {
        if (response.titles.length === 0) {
          alert("この著者の本は登録されていません");
        } else {
          alert(response.titles + "が" + author + "が書いた本です。");
        }
      });
    });
    // 著者と出版社に一致する本タイトル
    $("#author_company_filter").on("click", function () {
      const author = $("#author_name").val();
      const company = $("#company_name").val();
      const condition = $("#author_company_condition").val();
      $.ajax({
        url: "{% url 'author_company_filter' %}",
        type: "POST",
        data: { author: author, company: company, condition: condition },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      }).done(function (response) {
        if (response.titles.length === 0) {
          alert("この条件の本は登録されていません");
        } else {
          alert(response.titles);
        }
      });
    });
  });
</script>
